.picture {
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  top: 100px;
  right: 30px;
}

#picture {
  width: 400px;
  height: 400px;
}

#button2 {
  display: none;
}

#math {
  width: 500px;
  height: 300px;
  display: none;
}
